@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
.product-info-summary {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
.price-product-page-price {
  font-size: 3rem;
  font-weight: 700 bold;
}
.test {
  background-color: red;
}
