.counterButton {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .plusButton {
    padding: 20px 10px;
    overflow: hidden;
    position: relative;
    background-color: #f9f9f9;
    text-shadow: 1px 1px 1px #fff;
    color: #666;
    border: 1px solid #ddd;
    text-transform: none;
    font-weight: normal;
  }
  .minusButton {
    padding: 20px 10px;
    overflow: hidden;
    position: relative;
    background-color: #f9f9f9;
    text-shadow: 1px 1px 1px #fff;
    color: #666;
    border: 1px solid #ddd;
    text-transform: none;
    font-weight: normal;
  }
}
.quantityValue {
  background-color: white;
  max-width: 2.5em;
  width: 2.5em;
  text-align: center;
  border-radius: 0 !important;
  appearance: textfield;
  font-size: 1em;
}
.quantity {
  background-color: transparent;
}
.btn24,
.btn24 *,
.btn24 :after,
.btn24 :before,
.btn24:after,
.btn24:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn24 {
  all: unset;
  position: absolute;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn24:disabled {
  cursor: default;
}
.btn24:-moz-focusring {
  outline: auto;
}
.btn24 svg {
  display: block;
  vertical-align: middle;
}
.btn24 [hidden] {
  display: none;
}
.btn24 {
  --background: #000;
  background: none;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}
.btn24 span {
  display: block;
  position: relative;
  transition: transform 0.2s ease;
}
.btn24:after,
.btn24:before {
  --tilt: 20px;
  background: #fff;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: -webkit-clip-path 0.2s ease;
  transition: clip-path 0.2s ease;
  transition: clip-path 0.2s ease, -webkit-clip-path 0.2s ease;
  width: 100%;
  z-index: -1;
}
.btn24:after {
  --thickness: 5px;
  background: var(--background);
  height: calc(100% - var(--thickness) * 2);
  left: var(--thickness);
  top: var(--thickness);
  width: calc(100% - var(--thickness) * 2);
}
.btn24:hover span {
  transform: translateX(-20px);
}
.btn24:hover:after,
.btn24:hover:before {
  -webkit-clip-path: polygon(
    0 0,
    calc(100% - var(--tilt)) 0,
    100% 50%,
    calc(100% - var(--tilt)) 100%,
    0 100%
  );
  clip-path: polygon(
    0 0,
    calc(100% - var(--tilt)) 0,
    100% 50%,
    calc(100% - var(--tilt)) 100%,
    0 100%
  );
}
