@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

* {
  margin: 0;
  background-color: #49767f;
}
.menu {
  background-color: #49767f;
  padding: 24px;
  gap: 150px;
  display: flex;
  justify-content: center;

  overflow: hidden;
  top: 0;
  width: 100%;
}
.product-container {
  display: flex;
  justify-items: center;
}
.product-short-description {
  margin: 0 0 20.8px;
  text-align: left;
}
.product-info-summary {
  padding: 10px 15px 30px;
  margin: auto;
}
.earbudsImg {
  display: flex;
  justify-content: center;
}

.bdi {
  display: flex;
  justify-content: space-evenly;
}
.product-title {
  margin: 0 0 13.6px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 5rem;
}
.quantityButtons {
  padding: 2px;
  float: right;
}
.cart-button {
  gap: 20px;
  display: flex;
  justify-content: end;
}
.minus-button {
  padding: 0px 7.76px;
}

/* .price-product-page-price {
  padding: 2px; */

.productName {
  float: right;
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0px;
  margin: 80px;
}
/* @media screen and (min-width: 800px) {
 */

/* .earpodsButton {
  display: flex;
  justify-content: right;
}
.earpodsImg {
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
}
 */
.btn-24,
.btn-24 *,
.btn-24 :after,
.btn-24 :before,
.btn-24:after,
.btn-24:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-24 {
  all: unset;
  position: absolute;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn-24:disabled {
  cursor: default;
}
.btn-24:-moz-focusring {
  outline: auto;
}
.btn-24 svg {
  display: block;
  vertical-align: middle;
}
.btn-24 [hidden] {
  display: none;
}
.btn-24 {
  --background: #000;
  background: none;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}
.btn-24 span {
  display: block;
  position: relative;
  transition: transform 0.2s ease;
}
.btn-24:after,
.btn-24:before {
  --tilt: 20px;
  background: #fff;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: -webkit-clip-path 0.2s ease;
  transition: clip-path 0.2s ease;
  transition: clip-path 0.2s ease, -webkit-clip-path 0.2s ease;
  width: 100%;
  z-index: -1;
}
.btn-24:after {
  --thickness: 5px;
  background: var(--background);
  height: calc(100% - var(--thickness) * 2);
  left: var(--thickness);
  top: var(--thickness);
  width: calc(100% - var(--thickness) * 2);
}
.btn-24:hover span {
  transform: translateX(-20px);
}
.btn-24:hover:after,
.btn-24:hover:before {
  -webkit-clip-path: polygon(
    0 0,
    calc(100% - var(--tilt)) 0,
    100% 50%,
    calc(100% - var(--tilt)) 100%,
    0 100%
  );
  clip-path: polygon(
    0 0,
    calc(100% - var(--tilt)) 0,
    100% 50%,
    calc(100% - var(--tilt)) 100%,
    0 100%
  );
}
.btn-25,
.btn-25 *,
.btn-25 :after,
.btn-25 :before,
.btn-25:after,
.btn-25:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-25 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn-25:disabled {
  cursor: default;
}
.btn-25:-moz-focusring {
  outline: auto;
}
.btn-25 svg {
  display: block;
  vertical-align: middle;
}
.btn-25 [hidden] {
  display: none;
}
.btn-25 {
  --background: #000;
  background: none;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}
.btn-25 span {
  display: block;
  position: relative;
  transition: transform 0.2s ease;
}
.btn-25:after,
.btn-25:before {
  --tilt: 20px;
  background: #fff;
  -webkit-clip-path: polygon(0 50%, 0 0, 100% 0, 100% 50%, 100% 100%, 0 100%);
  clip-path: polygon(0 50%, 0 0, 100% 0, 100% 50%, 100% 100%, 0 100%);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: -webkit-clip-path 0.2s ease;
  transition: clip-path 0.2s ease;
  transition: clip-path 0.2s ease, -webkit-clip-path 0.2s ease;
  width: 100%;
  z-index: -1;
}
.btn-25:after {
  --thickness: 5px;
  background: var(--background);
  height: calc(100% - var(--thickness) * 2);
  left: var(--thickness);
  top: var(--thickness);
  width: calc(100% - var(--thickness) * 2);
}
.btn-25:hover:after,
.btn-25:hover:before {
  -webkit-clip-path: polygon(
    0 50%,
    var(--tilt) 0,
    calc(100% - var(--tilt)) 0,
    100% 50%,
    calc(100% - var(--tilt)) 100%,
    var(--tilt) 100%
  );
  clip-path: polygon(
    0 50%,
    var(--tilt) 0,
    calc(100% - var(--tilt)) 0,
    100% 50%,
    calc(100% - var(--tilt)) 100%,
    var(--tilt) 100%
  );
}

.heroImage {
  position: relative;
}

.heroText {
  background-color: aqua;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  all: unset;
  position: absolute;
  top: 0%;
  left: 35%;
  text-align: center;
  display: flex;
  width: 500px;
}
